<section class="bg-dark bsb-hero-1 bsb-overlay bsb-hover-pull">
  <div class="container">
    <div
      class="row justify-content-md-center align-items-center justify-content-center"
      style="height: 95vh"
    >
      <div
        class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white"
      >
        <h1 class="display-3 fw-bold mb-3">404</h1>
        <p class="lead mb-5">Page Not Found</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
      </div>
    </div>
  </div>
</section>
